<ion-view title="Menu" hide-nav-bar="true" id="page2" style="">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 283px; height: 300px;"></div>
    <div id="menu-button-bar1" class="button-bar">
      <a ui-sref="chat" id="menu-button6" class="button button-energized  button-block button-outline">Chat</a>
      <a ui-sref="radio" id="menu-button7" class="button button-energized  button-block button-outline">Radio</a>
    </div>
  </ion-content>
</ion-view>